<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <a href="/new">submit a new message here!</a></p>

    <ul>
      
      <%messages.forEach(message=>{ %>
        <li><b><%=message.user%></b></li>
        <li><i><%=message.text%></i></li>
        <li>sent at <%=message.added%></li>
        <li>boop!</li>
      <%})%>
      
      
    </ul>
  </body>
</html>
